<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".RadioApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_radio_large"
        android:label="Terminal Radio"
        android:roundIcon="@drawable/ic_radio_large"
        android:theme="@style/Theme.TerminalRadio"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".RadioReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action_play_pause" />
                <action android:name="action_next" />
                <action android:name="action_previous" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
